<div class="jumbotron">

  <div class="firstname">
    <p>
      <strong>Firstname:</strong>
      <%= patient.firstname %>
    </p>
  </div>

  <div class="lastname">
    <p>
      <strong>Lastname:</strong>
      <%= patient.lastname %>
    </p>
  </div>

  <div class="birthday">
    <p>
      <strong>Birthday:</strong>
      <%= patient.birthday %>
    </p>
  </div>

  <div class="email">
    <p>
      <strong>Email:</strong>
      <%= patient.email %>
    </p>
  </div>

  <p>
    <strong>Publickey:</strong>
    <%= patient.publickey %>
  </p>
</div>
