<div class="row">
       <div class="col-sm-12">
        <h4>
          <strong>Firstname:</strong>
        </h4>
        <div class="well entrie">
          <%= patient.firstname %>
        </div>

      </div>

      <div class="col-sm-12">
        <h4>
          <strong>Lastname:</strong>
        </h4>
        <div class="well entrie">
          <%= patient.lastname %>
        </div>
      </div>

      <div class="col-sm-12">
        <h4>
          <strong>Birthday:</strong>
        </h4>
          <div class="well entrie">
          <%= patient.birthday %>
          </div>
      </div>

      <div class="col-sm-12">
        <h4>
          <strong>Email:</strong>
        </h4>
        <div class="well entrie">

          <%= patient.email %>
        </div>
      </div>

      <div class="col-sm-12">
        <h4>
          <strong>Publickey:</strong>
        </h4>
        <div class="well entrie">
          <%= patient.publickey %>
        </div>
      </div>
</div>
