<p id="notice"><%= notice %></p>

<!-- <div class="patient_container">

  <div class="firstname">
    <p>
      <strong>Firstname:</strong>
      <%= @patient.firstname %>
    </p>
  </div>

  <div class="lastname">
    <p>
      <strong>Lastname:</strong>
      <%= @patient.lastname %>
    </p>
  </div>

  <div class="birthday">
    <p>
      <strong>Birthday:</strong>
      <%= @patient.birthday %>
    </p>
  </div>

  <div class="email">
    <p>
      <strong>Email:</strong>
      <%= @patient.email %>
    </p>
  </div>

  <div class="publickey">

    <p>
      <strong>Publickey:</strong>
      <%= @patient.publickey %>
    </p>
  </div>
</div> -->

<%= render 'information', patient: @patient %>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
